#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-click{
  border-radius:72% 28% 76% 24% / 51% 49% 51% 49% ;
  padding: 0.5rem 1rem;
  border-color: transparent;
  background: linear-gradient(to right, #e7b1b1, #e24848);
  width: 100px;
  height: auto;
  border: none;
  color: green;
  font-size: 1.2em;
  transition: opacity 0.5s ease;
  
}
.btn-click:hover{

  border: none;
  background: linear-gradient(to top,#111111, #ffffff);
  animation: opacity 0.2s ease ;
}
.btn-click:focus{
  animation: opacity 0.2s ease;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation-delay: 2s
}
